<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="cta-1693">
  <div class="cs-wrapper">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">READY TO MAKE YOUR DREAMS COME TRUE?</h2>
        <a class="cs-button-solid cs-secondary" href="/contact"
          >LEVEL UP TODAY</a
        >
      </div>
    </div>
    <div class="cs-lights-wrapper" aria-hidden="true">
      <picture class="cs-lights"
        ><source
          media="(max-width: 1023px)"
          srcset="/assets/svgs/rail-med.svg" />
        <source media="(min-width: 1024px)" srcset="/assets/svgs/rail.svg" />
        <img
          alt="graphic"
          decoding="async"
          height="132"
          src="/assets/svgs/rail-med.svg"
          width="275"
          aria-hidden="true"
          loading="lazy"
      /></picture>
      <div class="cs-flare light1"></div>
      <div class="cs-flare light2"></div>
      <div class="cs-flare light3"></div>
      <div class="cs-flare light4"></div>
      <div class="cs-flare light5"></div>
      <div class="cs-bulb cs-bulb1"></div>
      <div class="cs-bulb cs-bulb2"></div>
      <div class="cs-bulb cs-bulb3"></div>
      <div class="cs-bulb cs-bulb4"></div>
      <div class="cs-bulb cs-bulb5"></div>
    </div>
  </div>
</section>
