---
title: 'About | L&L Contracting'
description: 'Trusted Dallas roofers for repair, replacement, maintenance, gutters, skylights & solar. Insurance help & 24/7 emergency service!'
permalink: '/about/'
---

{% extends "layouts/base.html" %} {% block head %} <link rel="preload"
as="image" href="{% getUrl "/assets/images/cabinets.webp" | resize({ width: 640,
height: 600 }) | avif %}"/> <link rel="preload" as="image" href="{% getUrl
"/assets/images/cabinets.webp" | resize({ width: 482, height: 536 }) | avif
%}"/>
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">About Us</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/about/" class="cs-link cs-active">About Us</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 640, height: 600 }) | avif
    %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 640, height: 600 }) | webp
    %}" type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 640, height: 600 }) | jpeg
    %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2048, height: 942 }) | avif
    %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2048, height: 942 }) | webp
    %}" type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2048, height: 942 }) | jpeg
    %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2500, height: 628 }) | avif
    %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2500, height: 628 }) | webp
    %}" type="image/webp"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/cabinets.webp" | resize({ width: 2500, height: 628 }) | jpeg
    %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/cabinets.webp" |
    resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920"
    height="482" loading="eager" decoding="async">
  </picture>
</div>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-2295">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Main Image-->
      <div class="cs-picture-wrapper1">
        <picture class="cs-picture cs-picture1">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-before1.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-before1.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-before1.jpg"
            alt="construction"
            width="272"
            height="337"
          />
        </picture>
        <span class="cs-tag">Before</span>
      </div>
      <!--Small Image-->
      <div class="cs-picture-wrapper2">
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-after1.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-after1.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/construction-after1.jpg"
            alt="construction"
            width="243"
            height="367"
          />
        </picture>
        <span class="cs-tag">After</span>
      </div>
      <img
        class="cs-arrow"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/before-after-arrow.svg"
        alt="arrow"
        width="148"
        height="54"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">ABOUT US</span>
      <h2 class="cs-title">Our Story</h2>
      <p class="cs-text">
        At L&L Contracting, we believe your home deserves more than just a roof
        — it deserves protection, beauty, and peace of mind. Founded with a
        commitment to quality, integrity, and exceptional service, we have built
        a reputation in Fort Worth, Texas as a trusted roofing partner for
        homeowners and businesses alike.<br /><br />

        Our team of licensed and experienced roofers brings unmatched expertise
        to every project, whether it’s a minor repair, a full roof replacement,
        or a complex installation. We take the time to understand your needs,
        guide you through every step, and ensure your roof is built to last —
        combining durable materials, skilled craftsmanship, and attention to
        detail.<br /><br />

        Beyond roofing, we offer gutters, skylights, roof coatings, and
        emergency services, giving our clients comprehensive solutions under one
        roof. At L&L Contracting, we’re not just repairing or replacing roofs —
        we’re protecting homes, supporting families, and building lasting
        relationships.<br /><br />

        When you choose L&L Contracting, you’re choosing a company that values
        honesty, excellence, and reliability, every nail, every shingle, every
        time.
      </p>
      <a href="/contact" class="cs-button-solid">Book An Inspection</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-289">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Our Process</span>
        <h2 class="cs-title">WHY CHOOSE {{client.nameCaps}}</h2>
      </div>
      <p class="cs-text">
        As a trusted Dallas roofer, L&L Contracting is dedicated to safety,
        efficiency, and customer satisfaction. Trust our experienced
        professionals to provide dependable roofs that last decades.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item holographic-card">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">100% SATISFACTION GUARANTEE</h3>
        <p class="cs-item-text">
          We ensure all customers are completely happy with their result in
          every electrical project.
        </p>
      </li>
      <li class="cs-item holographic-card">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg"
          alt="icon"
          width="40"
          height="48"
        />
        <h3 class="cs-h3">20+ YEARS EXPERIENCE</h3>
        <p class="cs-item-text">
          With over 25 years of experience, our expertise in electrical work is
          unmatched.
        </p>
      </li>
      <li class="cs-item holographic-card">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg"
          alt="icon"
          width="48"
          height="48"
        />
        <h3 class="cs-h3">24/7 SUPPORT</h3>
        <p class="cs-item-text">
          Our commitment to clear and timely communication ensures a smooth,
          stress-free experience for every client.
        </p>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
