// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2295 {
    padding: var(--sectionPadding);
    background-color: #fefcf4;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(704 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 4vw, 4rem);
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
      font-size: min(1.98vw, 0.826rem);
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: calc(738 / 16 * 1em);
      height: calc(578 / 16 * 1em);
      order: -1;
      position: relative;
      z-index: 1;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      border: calc(16 / 16 * 1em) solid var(--bodyTextColorWhite);
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }

    .cs-picture-wrapper1 {
      width: calc(412 / 16 * 1em);
      height: calc(457 / 16 * 1em);
      display: flex;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);
      position: absolute;
      top: 0;
      left: 0;
    }

    .cs-picture-wrapper2 {
      width: calc(413 / 16 * 1em);
      height: calc(474 / 16 * 1em);
      display: flex;
      flex-direction: column-reverse;
      gap: calc(16 / 16 * 1rem);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .cs-tag {
      /* 14px - 24px */
      font-size: clamp(0.875rem, 1.4vw, 1.5rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      color: var(--headerColor);
    }

    .cs-arrow {
      width: calc(148 / 16 * 1em);
      height: calc(54 / 16 * 1em);
      position: absolute;
      top: calc(242 / 16 * 1em);
      left: calc(255 / 16 * 1em);
      transform: rotate(30deg);
    }

    .cs-content {
      /* set text align to center if content needs to be centrally aligned */
      text-align: left;
      width: 100%;
      max-width: calc(586 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* aligns content to the left, set to center to centrally align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 30ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);

      &:last-of-type {
        margin-bottom: calc(24 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 0%;
        height: 100%;
        background: #333;
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-h3 {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.5em;
      margin: 0;
      color: var(--headerColor);
    }

    .cs-ul {
      margin: calc(12 / 16 * 1rem) 0 calc(32 / 16 * 1rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-li {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      list-style: none;
      /* 20px - 24px */
      padding-left: clamp(1.25rem, 3vw, 1.5rem);
      color: var(--bodyTextColor);
      position: relative;

      strong {
        color: #1a1a1a;
      }

      &::before {
        content: '';
        width: calc(8 / 16 * 1rem);
        height: calc(8 / 16 * 1rem);
        margin-top: calc(8 / 16 * 1rem);
        background-color: var(--secondary);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2295 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-image-group {
      order: initial;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2295 {
    .cs-container {
      flex-direction: row;
      align-items: stretch;
    }

    .cs-image-group {
      font-size: min(1.03vw, 1rem);
      height: auto;
    }

    .cs-picture-wrapper1 {
      height: auto;
      bottom: calc(121 / 16 * 1em);
    }

    .cs-picture-wrapper2 {
      height: auto;
      top: calc(104 / 16 * 1em);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-2295 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-li,
      .cs-tag {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-li {
        opacity: 0.8;

        strong {
          color: var(--bodyTextColorWhite);
        }
      }

      .cs-button-solid {
        &:before {
          background: var(--secondary);
        }
      }

      .cs-picture {
        border-color: var(--medium);
      }
    }
  }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-289 {
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      max-width: calc(522 / 16 * 1rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      text-align: left;
      width: 100%;
      padding: calc(32 / 16 * 1rem);
      background-color: #f7f7f7;
      border-radius: calc(16 / 16 * 1rem);
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      transition: background-color 0.3s;
      &:hover {
        // background-color: var(--secondary);
        cursor: pointer;

        // .cs-icon {
        //   filter: invert(100%) sepia(78%) saturate(2%) hue-rotate(81deg)
        //     brightness(116%) contrast(101%);
        // }

        // .cs-h3 {
        //   color: var(--bodyTextColorWhite);
        // }

        // .cs-item-text {
        //   color: var(--bodyTextColorWhite);
        // }
      }
    }

    .cs-icon {
      width: auto;
      height: calc(48 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      display: block;
      transition: filter 0.3s;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      margin: 0;
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }

    // holo card
    .holographic-card {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      transition: all 0.5s ease;
    }

    .holographic-card::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(93, 174, 232, 0.397)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
    }

    .holographic-card:hover {
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(108, 160, 243, 0.434);
    }

    .holographic-card:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-289 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: calc(64 / 16 * 1rem);
    }

    .cs-flex {
      width: 50%;
    }

    .cs-title {
      margin: 0;
    }

    .cs-card-group {
      justify-content: space-between;
      /* makes sure every box "stretches" to be the same height as the tallest box */
      align-items: stretch;
      flex-direction: row;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      width: auto;
      /* 16px - 32px */
      padding: calc(32 / 16 * 1rem) clamp(1rem, 2.1vw, 2rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #why-choose-289 {
      background-color: #3c3c3c;

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background-color: var(--accent);
        // &:hover {
        //   background-color: var(--primary);
        // }
      }

      .holographic-card::before {
        background: linear-gradient(
          0deg,
          transparent,
          transparent 30%,
          rgb(255, 255, 255)
        );
      }

      .holographic-card:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.855);
      }

      .cs-icon {
        /* makes it so bright it turns white */
        filter: brightness(1000%);
      }
    }
  }
}
