// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────
$color_1: var(--bodyTextColor);
$color_2: var(--bodyTextColorWhite);
$color_3: var(--headerColor);
$color_4: var(--primary);
$color_5: #fff;
$color_6: var(--primaryLight);
$color_7: var(--secondary);
$color_8: #111926;
$color_9: #1a1a1a;
$font-family_1: var(--headerFont);
$font-family_2: var(--bodyFont);
$background-color_1: var(--primaryLight);
$background-color_2: #f7f7f7;
$background-color_3: var(--primary);
$background-color_4: var(--secondary);
$background-color_5: #fff;
$background-color_6: #000;
$background-color_7: rgba(0, 0, 0, 0.4);
$background-color_8: rgba(0, 0, 0, 0.2);
$background-color_9: rgba(0, 0, 0, 0.6);
$background-color_10: rgba(67, 183, 255, 0.1);
$background-color_11: rgba(0, 0, 0, 0.7);
$background-color_12: var(--accent);
$background-color_13: var(--dark);
$background-color_14: #f3fcfb;
$background-color_15: rgba(0, 0, 0, 0);
$background-color_16: var(--medium);
$border-color_1: #ffffff;
$border-color_2: #fff;
$border-color_3: var(--primary);
$border-color_4: rgba(255, 255, 255, 0.2);
$border-color_5: #0a2030;

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #111;
    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: calc(48 / 16 * 1rem);
    }

    .cs-content {
      text-align: center;
      width: 100%;
      max-width: calc(750 / 16 * 1rem);
    }

    .cs-title {
      /* 49px - 84px */
      font-size: clamp(3.0625rem, 6vw, 5.25rem);
    }

    .cs-title,
    .cs-text {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: calc(32 / 16 * 1rem);
      font-size: 1.25rem;
      font-weight: 400;
    }

    .cs-button-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(200 / 16 * 1rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 0%;
        height: 100%;
        background: var(--dark);
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-graphic {
      width: 100%;
      min-width: calc(1920 / 16 * 1rem);
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);
    }

    .cs-graphic-dark {
      display: none;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: '';
        width: 100%;
        height: 100%;
        background: #3333336e;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
        opacity: 0.7;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1785 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-1785 {
      .cs-background {
        &:before {
          opacity: 0.85;
        }
      }

      .cs-graphic {
        display: none;
      }

      .cs-button-solid {
        &:before {
          background: var(--secondary);
        }

        .cs-graphic-dark {
          display: block;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

@keyframes floatAnimation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 0rem) {
  #services-966 {
    z-index: 1;
    position: relative;
    padding: var(--sectionPadding);
    padding-bottom: 0;
    .cs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      max-width: 34.375rem;
      width: 100%;
      gap: clamp(3rem, 6vw, 4rem);
    }
    .cs-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50rem;
      width: 100%;
      text-align: center;
    }
    .cs-text {
      margin: 0;
      max-width: 40.625rem;
      width: 100%;
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      color: $color_1;
      text-align: inherit;
      max-width: 100%;
    }
    .cs-title {
      max-width: 100%;
      max-width: 20ch;
    }
    .cs-card-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;
      width: 100%;
      padding: 0;
      row-gap: 1.875rem;
    }
    .cs-item {
      list-style: none;
      text-align: left;
      margin: 2.75rem 0 0 0;
      grid-column: span 12;
      grid-row: span 1;
      &:hover {
        .cs-icon-wrapper {
          background-color: $background-color_1;
        }
        .cs-icon {
          filter: grayscale(1) brightness(0%);
        }
        .usa {
          filter: none;
        }
        .cs-h3 {
          color: $color_2;
        }
        .cs-item-text {
          opacity: 0.9;
          color: $color_2;
        }
        .cs-fake-link {
          color: $color_2;
        }
        .cs-background {
          opacity: 1;
          &::after {
            transform: rotate(35deg) translate(2.25rem, 1.5rem);
          }
        }
        .cs-graphic {
          opacity: 1;
          bottom: -1px;
        }
      }
    }
    .cs-link {
      text-decoration: none;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 1rem;
      background-color: $background-color_2;
      width: 100%;
      box-sizing: border-box;
      padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
      transition: background-color 0.3s;
      &:hover {
        cursor: pointer;
      }
    }
    .cs-icon-wrapper {
      position: relative;
      left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      margin: -2.75rem auto 2rem 2.375rem;
      background-color: $background-color_3;
      height: 5.5rem;
      width: 5.5rem;
      transition: background-color 0.3s, border-radius 0.3s;
    }
    .cs-icon {
      height: 3rem;
      width: 3rem;
      filter: grayscale(1) brightness(1000%);
    }
    .usa {
      filter: none;
    }
    .cs-h3 {
      margin: 0 0 0.75rem 0;
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      color: $color_3;
      transition: color 0.3s;
      text-align: inherit;
    }
    .cs-item-text {
      margin: 0 0 2rem 0;
      max-width: 18.75rem;
      padding: 0;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: $color_1;
      transition: color 0.3s;
    }
    .cs-fake-link {
      position: relative;
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-size: 0.8rem;
      line-height: 1.2em;
      font-weight: bold;
      color: $color_4;
      transition: color 0.3s;
      &:hover {
        color: $color_5;
      }
      &:before {
        position: absolute;
        bottom: 0rem;
        left: 0;
        content: '';
        opacity: 1;
        display: block;
        background: currentColor;
        height: 1px;
        width: 100%;
      }
    }
    .cs-background {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      display: block;
      border-radius: 1rem;
      background: var(--primary);
      height: 100%;
      width: 100%;
      overflow: hidden;
      transition: opacity 0.3s;
      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        transform: rotate(35deg) translate(5rem, 4rem);
        background-color: $background-color_1;
        height: 8rem;
        width: 3rem;
        transition: transform 0.3s;
      }
    }
    .cs-graphic {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: -3.125rem;
      left: 0;
      z-index: -1;
      transition: opacity 0.5s, bottom 0.5s;
    }
    .universe {
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .satellite {
      left: -0.625rem;
    }
    .shooting-star {
      position: absolute;
      right: 50%;
      top: -23.59%;
      width: 1px;
      height: 70px;
      background: #fff;
      transform: rotate(-33deg);
      animation: none;
    }
    .shooting-star2 {
      top: -26.59%;
    }
    .cs-waves-container {
      position: relative;
      text-align: center;
      margin-top: 2rem;
      height: 175px;

      .cs-button-solid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .cs-waves {
        img {
          object-fit: cover;
          background-repeat: no-repeat;
          width: 100%;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-966 {
      .cs-container {
        max-width: calc(1280 / 16 * 1rem);
      }

      .cs-card-group {
        column-gap: calc(30 / 16 * 1rem);
      }

      .cs-item {
        grid-column: span 4;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #services-966 {
        .cs-title {
          color: $color_2;
        }
        .cs-text {
          color: $color_2;
          opacity: 0.9;
        }
        .cs-h3 {
          color: $color_2;
        }
        .cs-item-text {
          color: $color_2;
          opacity: 0.9;
        }
        .cs-fake-link {
          color: $color_2;
        }
        .cs-item {
          &:hover {
            .cs-icon-wrapper {
              background-color: $background-color_5;
              box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px,
                inset rgba(67, 183, 255, 0.2) 0px 0px 30px,
                rgba(67, 183, 255, 0.2) 0px 0px 55px,
                rgba(67, 183, 255, 0.4) 0px 0px 75px,
                rgba(67, 183, 255, 0.4) 0px 0px 95px;
            }
            .cs-link {
              background-color: $background-color_6;
            }
            .cs-background {
              opacity: 0.7;
            }
            .shooting-star {
              -webkit-animation: shootingStar;
              animation: shootingStar;
              -webkit-animation-duration: 9s;
              animation-duration: 9s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
              -webkit-animation-delay: 1s;
              animation-delay: 1s;
            }
            .shooting-star2 {
              -webkit-animation: shootingStar2;
              animation: shootingStar2;
              -webkit-animation-duration: 10s;
              animation-duration: 10s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
              -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
            }
          }
          .cs-background {
            background: rgba(1, 13, 114, 0.2);
            background: -o-linear-gradient(
              305deg,
              rgba(1, 13, 114, 0.2) 0%,
              rgba(2, 101, 126, 0.2) 96%
            );
            background: linear-gradient(
              145deg,
              rgba(1, 13, 114, 0.2) 0%,
              rgba(10, 120, 148, 0.2) 96%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001099", endColorstr="#3ad9ff", GradientType=1);
          }
        }
        .cs-link {
          background-color: $background-color_7;
        }
        .cs-icon-wrapper {
          transition: background-color 0.3s, box-shadow 0.3s;
        }
      }
    }
  }
}
