// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────
$color_1: var(--bodyTextColor);
$color_2: var(--bodyTextColorWhite);
$color_3: var(--headerColor);
$color_4: var(--primary);
$color_5: #fff;
$color_6: var(--primaryLight);
$color_7: var(--secondary);
$color_8: #111926;
$color_9: #1a1a1a;
$font-family_1: var(--headerFont);
$font-family_2: var(--bodyFont);
$background-color_1: var(--primaryLight);
$background-color_2: #f7f7f7;
$background-color_3: var(--primary);
$background-color_4: var(--secondary);
$background-color_5: #fff;
$background-color_6: #000;
$background-color_7: rgba(0, 0, 0, 0.4);
$background-color_8: rgba(0, 0, 0, 0.2);
$background-color_9: rgba(0, 0, 0, 0.6);
$background-color_10: rgba(67, 183, 255, 0.1);
$background-color_11: rgba(0, 0, 0, 0.7);
$background-color_12: var(--accent);
$background-color_13: var(--dark);
$background-color_14: #f3fcfb;
$background-color_15: rgba(0, 0, 0, 0);
$background-color_16: var(--medium);
$border-color_1: #ffffff;
$border-color_2: #fff;
$border-color_3: var(--primary);
$border-color_4: rgba(255, 255, 255, 0.2);
$border-color_5: #0a2030;

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-855 {
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) calc(16 / 16 * 1rem)
      clamp(3.75rem, 7.82vw, 6.25rem);
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(48 / 16 * 1rem);
    }

    .cs-content {
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .cs-topper {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: calc(4 / 16 * 1rem);
      display: block;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      /* 23 characters including spaces wide */
      max-width: 23ch;
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: calc(531 / 16 * 1rem);
      /* 28px - 40px */
      margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
      color: var(--bodyTextColor);
    }

    .cs-picture {
      width: 100%;
      max-width: calc(570 / 16 * 1rem);
      /* 400px - 712px */
      height: clamp(25rem, 95vw, 44.5rem);
      /* 100px - 200px */
      border-radius: 0.75rem;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
      /* clips the img tag corners */
      overflow: auto;
      display: block;
      position: relative;

      -ms-overflow-style: none; /* Internet Explorer and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        /* makes image act as a background image */
        object-fit: cover;
        /* ensures the top of the images is at the top of the container, no heads getting cut off */
        object-position: top;
      }
    }

    .cs-wave {
      /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
      width: 320%;
      height: auto;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-855 {
    text-align: left;
    .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      width: 40vw;
      /* prevents flex-box from squishing it */
      flex: none;
      align-items: flex-start;
    }

    .cs-title,
    .cs-text {
      text-align: left;
    }

    .cs-picture {
      /* 623px - 814px */
      height: clamp(38.9375rem, 60vw, 50.875rem);
    }

    .cs-wave {
      width: 100%;
      left: 0;
      transform: none;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-855 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text,
      .cs-number,
      .cs-desc {
        color: var(--bodyTextColorWhite);
      }

      .cs-wave {
        path {
          fill: var(--dark);
        }
      }
    }
  }
}
