// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────
$color_1: var(--bodyTextColor);
$color_2: var(--bodyTextColorWhite);
$color_3: var(--headerColor);
$color_4: var(--primary);
$color_5: #fff;
$color_6: var(--primaryLight);
$color_7: var(--secondary);
$color_8: #111926;
$color_9: #1a1a1a;
$font-family_1: var(--headerFont);
$font-family_2: var(--bodyFont);
$background-color_1: var(--primaryLight);
$background-color_2: #f7f7f7;
$background-color_3: var(--primary);
$background-color_4: var(--secondary);
$background-color_5: #fff;
$background-color_6: #000;
$background-color_7: rgba(0, 0, 0, 0.4);
$background-color_8: rgba(0, 0, 0, 0.2);
$background-color_9: rgba(0, 0, 0, 0.6);
$background-color_10: rgba(67, 183, 255, 0.1);
$background-color_11: rgba(0, 0, 0, 0.7);
$background-color_12: var(--accent);
$background-color_13: var(--dark);
$background-color_14: #f3fcfb;
$background-color_15: rgba(0, 0, 0, 0);
$background-color_16: var(--medium);
$border-color_1: #ffffff;
$border-color_2: #fff;
$border-color_3: var(--primary);
$border-color_4: rgba(255, 255, 255, 0.2);
$border-color_5: #0a2030;

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #111;
    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: calc(48 / 16 * 1rem);
    }

    .cs-content {
      text-align: center;
      width: 100%;
      max-width: calc(750 / 16 * 1rem);
    }

    .cs-title {
      /* 49px - 84px */
      font-size: clamp(3.0625rem, 6vw, 5.25rem);
    }

    .cs-title,
    .cs-text {
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: calc(32 / 16 * 1rem);
      font-size: 1.25rem;
      font-weight: 400;
    }

    .cs-button-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(200 / 16 * 1rem);
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 0%;
        height: 100%;
        background: var(--dark);
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-graphic {
      width: 100%;
      min-width: calc(1920 / 16 * 1rem);
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);
    }

    .cs-graphic-dark {
      display: none;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &:before {
        /* Overlay */
        content: '';
        width: 100%;
        height: 100%;
        background: #3333336e;
        /* prevents the cursor from interacting with it */
        pointer-events: none;
        opacity: 0.7;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1785 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-1785 {
      .cs-background {
        &:before {
          opacity: 0.85;
        }
      }

      .cs-graphic {
        display: none;
      }

      .cs-button-solid {
        &:before {
          background: var(--secondary);
        }

        .cs-graphic-dark {
          display: block;
        }
      }
    }
  }
}
