// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────
$color_1: var(--bodyTextColor);
$color_2: var(--bodyTextColorWhite);
$color_3: var(--headerColor);
$color_4: var(--primary);
$color_5: #fff;
$color_6: var(--primaryLight);
$color_7: var(--secondary);
$color_8: #111926;
$color_9: #1a1a1a;
$font-family_1: var(--headerFont);
$font-family_2: var(--bodyFont);
$background-color_1: var(--primaryLight);
$background-color_2: #f7f7f7;
$background-color_3: var(--primary);
$background-color_4: var(--secondary);
$background-color_5: #fff;
$background-color_6: #000;
$background-color_7: rgba(0, 0, 0, 0.4);
$background-color_8: rgba(0, 0, 0, 0.2);
$background-color_9: rgba(0, 0, 0, 0.6);
$background-color_10: rgba(67, 183, 255, 0.1);
$background-color_11: rgba(0, 0, 0, 0.7);
$background-color_12: var(--accent);
$background-color_13: var(--dark);
$background-color_14: #f3fcfb;
$background-color_15: rgba(0, 0, 0, 0);
$background-color_16: var(--medium);
$border-color_1: #ffffff;
$border-color_2: #fff;
$border-color_3: var(--primary);
$border-color_4: rgba(255, 255, 255, 0.2);
$border-color_5: #0a2030;

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

@keyframes floatAnimation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 0rem) {
  #services-966 {
    z-index: 1;
    position: relative;
    padding: var(--sectionPadding);
    padding-bottom: 0;
    .cs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      max-width: 34.375rem;
      width: 100%;
      gap: clamp(3rem, 6vw, 4rem);
    }
    .cs-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50rem;
      width: 100%;
      text-align: center;
    }
    .cs-text {
      margin: 0;
      max-width: 40.625rem;
      width: 100%;
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      color: $color_1;
      text-align: inherit;
      max-width: 100%;
    }
    .cs-title {
      max-width: 100%;
      max-width: 20ch;
    }
    .cs-card-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;
      width: 100%;
      padding: 0;
      row-gap: 1.875rem;
    }
    .cs-item {
      list-style: none;
      text-align: left;
      margin: 2.75rem 0 0 0;
      grid-column: span 12;
      grid-row: span 1;
      &:hover {
        .cs-icon-wrapper {
          background-color: $background-color_1;
        }
        .cs-icon {
          filter: grayscale(1) brightness(0%);
        }
        .usa {
          filter: none;
        }
        .cs-h3 {
          color: $color_2;
        }
        .cs-item-text {
          opacity: 0.9;
          color: $color_2;
        }
        .cs-fake-link {
          color: $color_2;
        }
        .cs-background {
          opacity: 1;
          &::after {
            transform: rotate(35deg) translate(2.25rem, 1.5rem);
          }
        }
        .cs-graphic {
          opacity: 1;
          bottom: -1px;
        }
      }
    }
    .cs-link {
      text-decoration: none;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 1rem;
      background-color: $background-color_2;
      width: 100%;
      box-sizing: border-box;
      padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
      transition: background-color 0.3s;
      &:hover {
        cursor: pointer;
      }
    }
    .cs-icon-wrapper {
      position: relative;
      left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      margin: -2.75rem auto 2rem 2.375rem;
      background-color: $background-color_3;
      height: 5.5rem;
      width: 5.5rem;
      transition: background-color 0.3s, border-radius 0.3s;
    }
    .cs-icon {
      height: 3rem;
      width: 3rem;
      filter: grayscale(1) brightness(1000%);
    }
    .usa {
      filter: none;
    }
    .cs-h3 {
      margin: 0 0 0.75rem 0;
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      color: $color_3;
      transition: color 0.3s;
      text-align: inherit;
    }
    .cs-item-text {
      margin: 0 0 2rem 0;
      max-width: 18.75rem;
      padding: 0;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: $color_1;
      transition: color 0.3s;
    }
    .cs-fake-link {
      position: relative;
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-size: 0.8rem;
      line-height: 1.2em;
      font-weight: bold;
      color: $color_4;
      transition: color 0.3s;
      &:hover {
        color: $color_5;
      }
      &:before {
        position: absolute;
        bottom: 0rem;
        left: 0;
        content: '';
        opacity: 1;
        display: block;
        background: currentColor;
        height: 1px;
        width: 100%;
      }
    }
    .cs-background {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      display: block;
      border-radius: 1rem;
      background: var(--primary);
      height: 100%;
      width: 100%;
      overflow: hidden;
      transition: opacity 0.3s;
      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        transform: rotate(35deg) translate(5rem, 4rem);
        background-color: $background-color_1;
        height: 8rem;
        width: 3rem;
        transition: transform 0.3s;
      }
    }
    .cs-graphic {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: -3.125rem;
      left: 0;
      z-index: -1;
      transition: opacity 0.5s, bottom 0.5s;
    }
    .universe {
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .satellite {
      left: -0.625rem;
    }
    .shooting-star {
      position: absolute;
      right: 50%;
      top: -23.59%;
      width: 1px;
      height: 70px;
      background: #fff;
      transform: rotate(-33deg);
      animation: none;
    }
    .shooting-star2 {
      top: -26.59%;
    }
    .cs-waves-container {
      position: relative;
      text-align: center;
      margin-top: 2rem;
      height: 175px;

      .cs-button-solid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .cs-waves {
        img {
          object-fit: cover;
          background-repeat: no-repeat;
          width: 100%;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-966 {
      .cs-container {
        max-width: calc(1280 / 16 * 1rem);
      }

      .cs-card-group {
        column-gap: calc(30 / 16 * 1rem);
      }

      .cs-item {
        grid-column: span 4;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #services-966 {
        .cs-title {
          color: $color_2;
        }
        .cs-text {
          color: $color_2;
          opacity: 0.9;
        }
        .cs-h3 {
          color: $color_2;
        }
        .cs-item-text {
          color: $color_2;
          opacity: 0.9;
        }
        .cs-fake-link {
          color: $color_2;
        }
        .cs-item {
          &:hover {
            .cs-icon-wrapper {
              background-color: $background-color_5;
              box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px,
                inset rgba(67, 183, 255, 0.2) 0px 0px 30px,
                rgba(67, 183, 255, 0.2) 0px 0px 55px,
                rgba(67, 183, 255, 0.4) 0px 0px 75px,
                rgba(67, 183, 255, 0.4) 0px 0px 95px;
            }
            .cs-link {
              background-color: $background-color_6;
            }
            .cs-background {
              opacity: 0.7;
            }
            .shooting-star {
              -webkit-animation: shootingStar;
              animation: shootingStar;
              -webkit-animation-duration: 9s;
              animation-duration: 9s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
              -webkit-animation-delay: 1s;
              animation-delay: 1s;
            }
            .shooting-star2 {
              -webkit-animation: shootingStar2;
              animation: shootingStar2;
              -webkit-animation-duration: 10s;
              animation-duration: 10s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
              -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
            }
          }
          .cs-background {
            background: rgba(1, 13, 114, 0.2);
            background: -o-linear-gradient(
              305deg,
              rgba(1, 13, 114, 0.2) 0%,
              rgba(2, 101, 126, 0.2) 96%
            );
            background: linear-gradient(
              145deg,
              rgba(1, 13, 114, 0.2) 0%,
              rgba(10, 120, 148, 0.2) 96%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001099", endColorstr="#3ad9ff", GradientType=1);
          }
        }
        .cs-link {
          background-color: $background-color_7;
        }
        .cs-icon-wrapper {
          transition: background-color 0.3s, box-shadow 0.3s;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px- Contains Hover State */
@media only screen and (min-width: 0rem) {
  #services-279 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    .cs-topper {
      color: var(--secondaryLight);
    }
    .cs-content {
      background: #1a1a1a;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: calc(523 / 16 * 1rem);
      width: 100%;
      background: #1a1a1a;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title,
    .cs-text {
      color: var(--bodyTextColorWhite);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: calc(20 / 16 * 1rem);
      row-gap: calc(60 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      margin: 0;
      width: 80%;
      /* changes to 100% at tablet */
      max-width: calc(348 / 16 * 1rem);

      &:hover {
        .cs-picture {
          &:before {
            height: 100%;
          }

          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .cs-picture {
      aspect-ratio: 348/433;
      position: relative;
      display: block;
      /* Keeps image from bleeding outside the picture element */
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 0%;
        width: 100%;
        background: var(--primary);
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
        transition: height 0.3s;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act like a background image */
        object-fit: cover;
        transition: transform 0.7s;
      }
    }

    .cs-box {
      /* Centers the button */
      text-align: center;
      width: 90%;
      margin: 0 auto;
      /* -32px to -48px */
      margin-top: calc(clamp(2rem, 7vw, 3rem) * -1);
      padding-top: calc(24 / 16 * 1rem);
      background: #fff;
      position: relative;
      z-index: 10;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      text-align: center;
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
      margin: 0 0 calc(28 / 16 * 1rem);
    }

    .cs-button-transparent {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--primary);
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: transparent;
      border: 1px solid var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s, border-color 0.3s, background-color 0.3s;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        color: #fff;
        border-color: #000;
        background-color: #000;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-279 {
    &:before {
      /* 450px - 580px */
      height: clamp(28.125rem, 45vw, 36.25rem);
    }

    .cs-card-group {
      flex-direction: row;
      align-items: stretch;
    }

    .cs-item {
      margin: 0;
      max-width: 100%;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-279 {
      .cs-box {
        background: var(--dark);
      }

      .cs-h3 {
        color: #fff;
      }
      .cs-topper {
        color: var(--secondary);
      }
      .cs-button-transparent {
        border: 1px solid #fff;
        color: #fff;

        &:before {
          background: var(--primary);
        }
        &:hover {
          border: 1px solid var(--primary);
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2295 {
    padding: var(--sectionPadding);
    background-color: #fefcf4;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(704 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 4vw, 4rem);
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
      font-size: min(1.98vw, 0.826rem);
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: calc(738 / 16 * 1em);
      height: calc(578 / 16 * 1em);
      order: -1;
      position: relative;
      z-index: 1;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      border: calc(16 / 16 * 1em) solid var(--bodyTextColorWhite);
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }

    .cs-picture-wrapper1 {
      width: calc(412 / 16 * 1em);
      height: calc(457 / 16 * 1em);
      display: flex;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);
      position: absolute;
      top: 0;
      left: 0;
    }

    .cs-picture-wrapper2 {
      width: calc(413 / 16 * 1em);
      height: calc(474 / 16 * 1em);
      display: flex;
      flex-direction: column-reverse;
      gap: calc(16 / 16 * 1rem);
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .cs-tag {
      /* 14px - 24px */
      font-size: clamp(0.875rem, 1.4vw, 1.5rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      color: var(--headerColor);
    }

    .cs-arrow {
      width: calc(148 / 16 * 1em);
      height: calc(54 / 16 * 1em);
      position: absolute;
      top: calc(242 / 16 * 1em);
      left: calc(255 / 16 * 1em);
      transform: rotate(30deg);
    }

    .cs-content {
      /* set text align to center if content needs to be centrally aligned */
      text-align: left;
      width: 100%;
      max-width: calc(586 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* aligns content to the left, set to center to centrally align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 30ch;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);

      &:last-of-type {
        margin-bottom: calc(24 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 0%;
        height: 100%;
        background: #333;
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-h3 {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.5em;
      margin: 0;
      color: var(--headerColor);
    }

    .cs-ul {
      margin: calc(12 / 16 * 1rem) 0 calc(32 / 16 * 1rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-li {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      list-style: none;
      /* 20px - 24px */
      padding-left: clamp(1.25rem, 3vw, 1.5rem);
      color: var(--bodyTextColor);
      position: relative;

      strong {
        color: #1a1a1a;
      }

      &::before {
        content: '';
        width: calc(8 / 16 * 1rem);
        height: calc(8 / 16 * 1rem);
        margin-top: calc(8 / 16 * 1rem);
        background-color: var(--secondary);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2295 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-image-group {
      order: initial;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2295 {
    .cs-container {
      flex-direction: row;
      align-items: stretch;
    }

    .cs-image-group {
      font-size: min(1.03vw, 1rem);
      height: auto;
    }

    .cs-picture-wrapper1 {
      height: auto;
      bottom: calc(121 / 16 * 1em);
    }

    .cs-picture-wrapper2 {
      height: auto;
      top: calc(104 / 16 * 1em);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-2295 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-li,
      .cs-tag {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-li {
        opacity: 0.8;

        strong {
          color: var(--bodyTextColorWhite);
        }
      }

      .cs-button-solid {
        &:before {
          background: var(--secondary);
        }
      }

      .cs-picture {
        border-color: var(--medium);
      }
    }
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-483 {
    padding: var(--sectionPadding);
    background-color: #096ec0;
    .cs-topper,
    .cs-title,
    .cs-text {
      color: var(--bodyTextColorWhite);
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 8px - 20px */
      gap: clamp(0.5rem, 2vw, 1.25rem);
    }
    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-text {
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6vw, 4rem);
    }

    .cs-cta {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      text-decoration: none;
      /* 16px - 20px */
      text-align: center;
      /* 141px - 224px */
      width: clamp(8.8125rem, 17vw, 14rem);
      height: clamp(8.8125rem, 17vw, 14rem);
      margin: 0 auto 0 0;
      /* 141px - 224px */
      /* copied the same height clamp and multiplied it by -.5 so the value is negtaive and half the vlaue of height so we cna make it overlap by 50% its height */
      margin-bottom: calc(clamp(8.8125rem, 17vw, 14rem) * -0.5);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      /* prevents border from affecting height and width */
      box-sizing: border-box;
      border: clamp(12px, 3vw, 20px) solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-self: flex-end;
      position: relative;
      z-index: 10;
      transition: background-color 0.3s;

      &:hover {
        background-color: #14142b;
        .cs-arrow {
          transform: translateX(3.75rem);
          opacity: 0;
        }
        .cs-cta-text {
          transform: translateY(-0.9375rem);
        }
      }
    }

    .cs-arrow {
      width: calc(40 / 16 * 1rem);
      height: auto;
      transition: transform 0.3s, opacity 0.3s;
    }

    .cs-cta-text {
      transition: transform 0.3s;
    }

    .cs-content-picture {
      width: 100%;
      height: calc(310 / 16 * 1rem);
      border-radius: calc(12 / 16 * 1rem);
      /* clips the img corners */
      overflow: hidden;
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it behave like a background image */
        object-fit: cover;
      }
    }

    .cs-grid {
      width: 100%;
      display: grid;
      /* 12 so we can have rows of 3 and rows with 2 50/50 images */
      grid-template-columns: repeat(12, 1fr);
      /* 8px - 20px */
      grid-gap: clamp(0.5rem, 2vw, 1.25rem);
      grid-template-rows: repeat(20, 1fr);
    }

    .cs-picture {
      border-radius: calc(8 / 16 * 1rem);
      /* clips corners of img tags */
      overflow: hidden;
      position: relative;
      display: block;

      img {
        width: 100%;
        height: 100%;
        /* makes image behave like a background image */
        object-fit: cover;
      }
    }

    .cs-picture1 {
      grid-column: 1 / 7;
      grid-row: 1 / 12;
    }
    .cs-picture2 {
      grid-column: 7 / 13;
      grid-row: 1 / 14;
    }
    .cs-picture3 {
      grid-column: 1 / 7;
      grid-row: 12 / 21;
    }
    .cs-picture4 {
      grid-column: 7 / 13;
      grid-row: 14 / 21;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-483 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }

    .cs-content {
      max-width: calc(630 / 16 * 1rem);
      justify-content: flex-end;
    }

    .cs-text {
      width: 85%;
    }

    .cs-grid {
      width: 50%;
      max-width: calc(630 / 16 * 1rem);
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-content-picture {
      /* 229px - 532px */
      height: clamp(14.3125rem, 38vw, 33.25rem);
      aspect-ratio: 1.18;
    }

    .cs-picture1 {
      grid-column: 1 / 7;
      grid-row: 1 / 13;
    }
    .cs-picture2 {
      grid-column: 7 / 13;
      grid-row: 1 / 9;
    }
    .cs-picture3 {
      grid-column: 1 / 7;
      grid-row: 13 / 21;
    }
    .cs-picture4 {
      grid-column: 7 / 13;
      grid-row: 9 / 21;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #gallery-483 {
      background-color: var(--bodyTextColor);
      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        opacity: 0.8;
      }

      .cs-cta {
        border-color: var(--dark);

        &:hover {
          background-color: var(--bodyTextColorWhite);
          color: var(--primary);
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-67 {
    padding: var(--sectionPadding);
    background-color: #c3dbfb;
    .cs-topper {
      color: var(--bodyTextColor);
    }

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      column-gap: calc(20 / 16 * 1rem);
      row-gap: calc(64 / 16 * 1rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      /* pushes up the same amount the cs-item-img overlaps the card */
      margin: calc(40 / 16 * 1rem) 0 0 0;
      /* Padding L & R - 16px - 32px */
      padding: calc(60 / 16 * 1rem) clamp(1rem, 3.2vw, 2rem) 0;
      /* 32px - 40px */
      padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
      box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
      border-radius: calc(8 / 16 * 1rem);
      background: #fff;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      /* Prevents padding from affecting height & width */
      box-sizing: border-box;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-item-img {
      width: calc(80 / 16 * 1rem);
      height: calc(80 / 16 * 1rem);
      position: absolute;
      top: calc(-40 / 16 * 1rem);
      filter: invert(58%) sepia(13%) saturate(3041%) hue-rotate(328deg)
        brightness(104%) contrast(101%);
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0 0 calc(20 / 16 * 1rem);
      padding-bottom: calc(20 / 16 * 1rem);
      color: var(--bodyTextColor);
      border-bottom: 1px solid #e8e9ec;
    }

    .cs-info {
      width: 100%;
      /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
      margin: auto 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .cs-flex-group {
      width: 100%;
      margin: 0;
    }

    .cs-name {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      width: 40%;
      margin: 0;
      display: block;
      color: var(--headerColor);
    }

    .cs-desc {
      font-size: calc(14 / 16 * 1rem);
      font-weight: 400;
      color: #3f3f3f;
      display: block;
    }

    .cs-item-stars {
      width: calc(96 / 16 * 1rem);
      height: calc(16 / 16 * 1rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--dark);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-67 {
    .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews-67 {
      background-color: #1433a4dd;
      .cs-topper {
        color: var(--primaryLight);
      }
      .cs-title,
      .cs-text,
      .cs-item-text,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-button-solid {
        &:before {
          background: var(--secondary);
        }
      }

      .cs-item {
        background: rgba(0, 0, 0, 0.2);
      }

      .cs-desc {
        color: var(--primaryLight);
      }
    }
  }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-289 {
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      max-width: calc(522 / 16 * 1rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      text-align: left;
      width: 100%;
      padding: calc(32 / 16 * 1rem);
      background-color: #f7f7f7;
      border-radius: calc(16 / 16 * 1rem);
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      transition: background-color 0.3s;
      &:hover {
        // background-color: var(--secondary);
        cursor: pointer;

        // .cs-icon {
        //   filter: invert(100%) sepia(78%) saturate(2%) hue-rotate(81deg)
        //     brightness(116%) contrast(101%);
        // }

        // .cs-h3 {
        //   color: var(--bodyTextColorWhite);
        // }

        // .cs-item-text {
        //   color: var(--bodyTextColorWhite);
        // }
      }
    }

    .cs-icon {
      width: auto;
      height: calc(48 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      display: block;
      transition: filter 0.3s;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      margin: 0;
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }

    // holo card
    .holographic-card {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      transition: all 0.5s ease;
    }

    .holographic-card::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(93, 174, 232, 0.397)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
    }

    .holographic-card:hover {
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(108, 160, 243, 0.434);
    }

    .holographic-card:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-289 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: calc(64 / 16 * 1rem);
    }

    .cs-flex {
      width: 50%;
    }

    .cs-title {
      margin: 0;
    }

    .cs-card-group {
      justify-content: space-between;
      /* makes sure every box "stretches" to be the same height as the tallest box */
      align-items: stretch;
      flex-direction: row;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      width: auto;
      /* 16px - 32px */
      padding: calc(32 / 16 * 1rem) clamp(1rem, 2.1vw, 2rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #why-choose-289 {
      background-color: #3c3c3c;

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background-color: var(--accent);
        // &:hover {
        //   background-color: var(--primary);
        // }
      }

      .holographic-card::before {
        background: linear-gradient(
          0deg,
          transparent,
          transparent 30%,
          rgb(255, 255, 255)
        );
      }

      .holographic-card:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.855);
      }

      .cs-icon {
        /* makes it so bright it turns white */
        filter: brightness(1000%);
      }
    }
  }
}
